.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}
.App-header {
  height: 90vh;
  align-items: bottom;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
    overflow-y: auto;

}

.App-footer {
  min-height: 10vh;
	width: 100%;
	align-items: bottom;
}