.Question {
  text-align: left;
  align: left;
  max-width: 80%;
  margin: 0 20% 0 0;
  text-margin: 100px;
  background-color:  #181c24;
}

.Answer {
  text-align: right;
  align: right;
  margin: 0 0 0 20%;
  max-width: 80%;
  border: 2px solid #181c24;
  border-radius: 5px;
}